table {
    border-collapse: collapse;
    width: 81%;
    position: fixed;
    top: 20%;
  }
  
  thead {
    border-bottom: none;
  }
  
  th {
    border: none;
    padding: 8px;
    background-color: #ddd;
  }
  
  th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  tbody{
    background: #fff;
  }

  td{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  td a {
    color: #00e;
  }

  th, td{
    text-align: center;
  }