.statistic__item{
  border-radius: 15px;
}

.number{
  position: absolute;
  left: 46%;
  bottom: 20%;
  font-weight: bold;
}

.desc1{
  position: absolute;
  right: 15%;
  top: 40%;
  font-size: 120%;
  font-weight: bold;
}

.bx-user, .bx-user-check, .bx-user-x{
  font-size: 3em;
}

#pre{
  color: #0f0;
}

#abs{
  color: #f00;
}

.main-content{
  margin-top: -10%;
}

.icoin{
  position: absolute;
  left: 45%;
  border-radius: 50%;
}

.i1{
  border: 1px rgb(126, 214, 255);
  padding: 1px;
  background: rgb(126, 214, 255);
}

.b1{
  color: #00f;
}

.i2{
  border: 1px rgb(205, 251, 227);
  padding: 1px;
  background: rgb(205, 251, 227);
}

.b2{
  color: #0f0;
}

.i3{
  border: 1px rgb(249, 166, 166);
  padding: 1px;
  background: rgb(249, 166, 166);
}

.b3{
  color: #f00;
}