*{
    text-decoration: none;
}

.fin{
    position: absolute;
    bottom: 0;
    left: 40%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.endpage{
    border-radius: 50%;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    font-weight: bold;
}

.precedent{
    margin-right: 10px;
}

.suivant{
    margin-left: 10px;
}

#supp{
    display: none;
    cursor: pointer;
}

.bx-refresh{
    font-size: 2em;
    opacity: 1;
}

#rech{
    position: absolute;
    right: 2%;
    display: flex;
    align-items: center;
    z-index: 50;
}

.trash{
    position: absolute;
    top: 19%;
    left: 2%;
    display: flex;
    align-items: center;
    z-index: 50;
}

#supp{
    border: rgb(233, 41, 41);
    border-radius: 10px;
    padding: 10px;
    background: rgb(233, 41, 41);
    color: #fff;
    font-weight: bold;
}

.bx-search{
    font-size: 2em;
    color: #fff;
}

.bx-trash{
    font-size: 2em;
}

#search{
    background: #110d11;
    border: 1px #110d11;
    padding: 11px 10px;
}

input[type=search]{
  /* width: 100%; */
  padding: 16px 20px;
  margin: 8px 0;
  /* display: flex; */
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.statut{
    text-align: center;
}

.bxs-circle{
    color: #0f0;
}
/* 
@media only screen and (max-width: 768px) {
    #rech{
        display: none;
    }
} */

/* .content{
    height: 100%;
} */

#tel{
    position: absolute;
    top: 10%;
    left: 0;
}

#search{
    cursor: pointer;
}