*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Arial;
}

header{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-image: url(../ressources/pexels.jpg);
    background-size: cover;
}

.logout:hover{
    color: #f00;
}

.navbar{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a{
    color: #fff;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 25px;
}

.navbar .nav-links ul li a:active{
    color: #ed3c57;
    font-weight: 600;
}

.navbar .nav-links ul li a:hover{
    color: #ff0;
    font-weight: 600;
}

.navbar .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 24
    }

    .navbar .material-symbols-outlined {
        color: #fff;
        display: none;
        }

    .navbar .material-symbols-outlined {
        position: absolute;
        top: 50px;
        right: 50px;
    }

    header h1{
        text-align: center;
        color: #fff;
        font-size: 400%;
        margin-left: 35%;
    }

@media screen and (max-width: 900px){
    body {
        overflow-x: auto;
    }

    .navbar{
        padding: 0;
    }

    .navbar .logo {
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .navbar .material-symbols-outlined {
        display: block;
        cursor: pointer;
    }

    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }

    header h1{
        font-size: 200%;
        margin-left: 10%;
    }
}
