{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attendance</title>
    <link rel="stylesheet" href="{% static 'profil/boxicons-2.1.4/css/boxicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'profil/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'profil/css/table.css' %}">
</head>
<body>

    {% include 'profil/couche/sidebar.html' %}

    <section class="home-section emp">
        <div class="home-content">
            <i class="bx bx-menu"></i>
            <span class="text">Liste des présences</span>
        </div>
        <div class="content">
            <table>
                <thead>
                    <tr>


                        <th>Dates</th>
                        <th>Employés</th>
                        <th>Type de pointage</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                        <th>Durée</th>
                        <th>Retard</th>
                        <th>Heures supplémentaires</th>
                    </tr>
                </thead>
               
                {% for horaire in horaires %}
                    <tr>
                       

                        <td> {{horaire.date_d}} </td>

                        <td> {{horaire.personnel}}</td>
                        <td></td>
                        <td> {{horaire.arrival_time}}</td>
                        <td> {{horaire.departure_time}}</td>
                        <td>{{horaire.calculate_duration}}</td>
                        <td> {{horaire.retard}} </td>
                        <td></td>
                        
                    </tr>
                    {% endfor %}
            </table>
        </div>
       
    </section>
<script src="{% static 'profil/js/sidebar.js' %}"></script>
</body>
</html>