{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acceuil</title>
    <link rel="stylesheet" href="{% static 'profil/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'profil/boxicons-2.1.4/css/boxicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'profil/css/sidebar.css' %}">
</head>
    <body>

        {% include 'profil/couche/sidebar.html' %}

        <section class="home-section help">
            <div class="home-content">
                <i class="bx bx-menu"></i>
                <span class="text">Historique</span>
            </div>
            
        </section>
    <script src="{% static 'profil/js/sidebar.js' %}"></script>
</body>
</html>