{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste</title>
    <link rel="stylesheet" href="{% static 'profil/boxicons-2.1.4/css/boxicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'profil/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'profil/css/emp.css' %}">
    <link rel="stylesheet" href="{% static 'profil/css/table.css' %}">
</head>
<body>

    {% include 'profil/couche/sidebar.html' %}

    <section class="home-section emp">
        <div class="home-content">
            <i class="bx bx-menu"></i>
            <span class="text">Liste des terminaux</span>
        </div>
        <div class="content">
            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox" name="selected_employees" value="" class="checkall"></th>
                       {{message}}
                        <th>Machine ip</th>
                        <th>Port</th>
                        <th>Statut</th> 
                        <th colspan="2">Action</th>
                        <th>Download</th>  
                        <th>gf</th>     
                    </tr>
                </thead>
                    <tr>
                        <td><input type="checkbox" name="selected_employees" class="checkbox"></td>
                        {% for l in zklect%}
                        <td> {{l.ip_adresse}} </td>
                        <td> {{l.n_port}} </td>
                        
                        <td class="statut">
                        {%if st == True %}
                        <i class='bx bxs-circle' style="color: green;"></i>
                        {%else%}
                        <i class='bx bxs-circle' style="color: red;"></i>
                        </td>
                        {%endif%}
                        <td><a href="{% url 'profil:edit_lecteur' l.id %} " ><i class="bx bxs-edit"></i></a> </td>
                        <td> <a href="{% url 'profil:del_lecteur' l.id %}" ><i class="bx bxs-trash"></i></a> </td>
                        <td><a href="{% url 'profil:add_attendance'%}" ><i class="bx bxs-download"></i></a> </td>
                        <td> {{st}} </td>
                        {%endfor%}
                    </tr>
                             <!--  -->
                            
    </label>
    <br>
  <div class="trash"><button type="submit" id="supp">Supprimer <i class="bx bxs-trash"></i></button></div>
</form>

            </table>
        </div>

    </section>
<script src="{% static 'profil/js/sidebar.js' %}"></script>
<script src="{% static 'profil/js/chk.js' %}"></script>
<script src="{% static 'profil/js/reload.js' %}"></script>
</body>
</html>