{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{%static 'profil/css/index.css'%}"> -->
    <link rel="stylesheet" href="{% static 'profil/boxicons-2.1.4/css/boxicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'profil/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'profil/css/machine.css' %}">
    <link rel="stylesheet" href="{% static 'profil/css/footer.css'%}">
</head>
    <body>

        {% include 'profil/couche/sidebar.html' %}

        <section class="home-section form">
            <div class="home-content">
                <i class="bx bx-menu"></i>
                <span class="text">Terminal</span>
            </div>
            <main class="wrapper">
                <div class="form signup">
                    <header>CONNECTER UN TERMINAL 
                        </header>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p>{{message}}</p>
                        <input type="submit" id="loginBtn" value="Valide" />
                    </form>
                </div>
            </main>
            

        </div>
        </section>
        {% include 'profil/couche/footer.html' %}
    <script src="{% static 'profil/js/sidebar.js' %}"></script>
</body>
</html>

