{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste</title>
    <link rel="stylesheet" href="{% static 'profil/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'profil/boxicons-2.1.4/css/boxicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'profil/css/sidebar.css' %}">
</head>
<body>

    {% include 'profil/couche/sidebar.html' %}

    <section class="home-section emp">
        <div class="home-content">
            <i class="bx bx-menu"></i>
            <span class="text">Profile</span>
        </div>
        <div class="card-container">
            {% for per in Personnels %}
            <div class="upper-container">
                <div class="image-container">
                    <!-- <img src="{% static 'profil/ressources/male.jpeg' %}" /> -->
                </div>
            </div>
    
            <div class="lower-container">
                <div style="text-align: left; font-size: 24px; ">
                    <table>
                        <tr>
                            <th>ID_Personnel</th>
                            <td>{{per.id}}</td>
                        </tr>
                        <tr>
                            <th>POSTE</th>
                            <td>{{per.poste}}</td>
                        </tr>
                        <tr>
                            <th>NOM</th>
                            <td>{{per.name}}</td>
                        </tr>
                        <tr>
                            <th>PRENOM</th>
                            <td>{{per.prenom}}</td>
                        </tr>
                        <tr>
                            <th>EMAIL</th>
                            <td>{{per.email}}</td>
                        </tr>
                        <tr>
                            <th>SEXE</th>
                            <td>{{per.gender}}</td>
                        </tr>
                        <tr>
                            <th>HEURE_D'ENTREE</th>
                            <td>{{per.poste.heure_debut}}</td>
                        </tr>
                        <tr>
                            <th>HEURE_DE_SORTIE</th>
                            <td>{{per.poste.heure_fin}}</td>
                        </tr>
                    </table>
                </div>
                <div class="fiche">
                    <a href="{%url 'profil:salaire' per.id %}" class="btn">Fiche de paie</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
<script src="{% static 'profil/js/sidebar.js' %}"></script>
</body>
</html>