{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiche de paie</title>
    <link rel="stylesheet" href="{% static 'profil/boxicons-2.1.4/css/boxicons.min.css' %}" />
    <link rel="stylesheet" href="{%static 'profil/css/sidebar.css'%}">
    <link rel="stylesheet" href="{%static 'profil/css/fiche.css'%}">
</head>
<body>
    {% include 'profil/couche/sidebar.html' %}

    <section class="home-section home">
        <div class="home-content">
            <i class="bx bx-menu"></i>
            <span class="text">Fiche de paie</span>
            <div class="fiche">
                <button class="btn" onclick="printFiche()">Imprimer</button>
            </div>
        </div>
        <div id="container" class="container">
            <!-- <div class="content"> -->
                <table>
                        <tr class="head">
                            <th>Dates: 13 Avril 2024 - 15 Mai 2024</th>
                            <th class="id">ID: 1</th>
                        </tr>
                    <tbody>
                        <tr>
                            <th>Nom:</th>
                            <td>{{personnel}}</td>
                        </tr>
                        <tr>
                            <th>Prenom:</th>
                            <td>{{personnel.prenom}}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{personnel.email}}</td>
                        </tr>
                        <tr>
                            <th>Poste:</th>
                            <td>{{personnel.poste.nom_poste}}</td>
                        </tr>
                        <tr>
                            <th>Heures attendues:</th>
                            <td>60</td>
                        </tr>
                        <tr>
                            <th>Heures effectuées</th>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th>Salaire normal</th>
                            <th>Salaire résiduel</th>
                        </tr>
                        <tr>
                            <td>5000$</td>
                            <td>4000$</td>
                        </tr>
                    </tbody>
                </table>
            <!-- </div> -->
        </div>
    </section>
    <script src="{% static 'profil/js/print.js' %}"></script>
    <script src="{% static 'profil/js/sidebar.js' %}"></script>
</body>
</html>
