{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiche de paie</title>
    <link rel="stylesheet" href="{%static 'profil/css/fiche.css'%}">
</head>
<body>
    <div id="container" class="container">
        <h1>Fiche de paie</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Poste</th>
                <th>Heures</th>
                <th>Salaire</th>
            </tr>
            <tr>
                <th>{{personnel.id}}</th>
                <th>{{personnel}}</th>
                <th>{{personnel.poste}}</th>
                <th>{{daily_work_hours}}</th>
                <th>{{daily_salary}}</th>
            </tr>
        </table>
        
    </div>
</body>
</html>
