{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'profil/css/form.css'%}">
    <link rel="stylesheet" href="{% static 'profil/boxicons-2.1.4/css/boxicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'profil/css/sidebar.css' %}">
</head>
      <body>

        {% include 'profil/couche/sidebar.html' %}
          
          <section class="home-section form">
              <div class="home-content">
                  <i class="bx bx-menu"></i>
                  <span class="text">Ajouter</span>
              </div>
                  <!-- MAIN -->
                  <div id="content">
                  <main>
                    

                    <div class="container">
                      <header>Formulaire d'ajout d'un poste</header>
                  
                      <form action="{% url 'profil:partm1' poste.id %}" method="post">
                        {% csrf_token %}
                        <div class="form first">
                          <div class="details personal">
                            <span class="title">Details du poste</span>
                  
                            <div class="fields">
                              <div class="input-field">
                                <label for="as_poste">Alias poste:</label>
                                <input type="text" placeholder="Abréviation du poste:" name="as_poste" value="{{ poste.as_poste }}" required>
                              </div>
                              <div class="input-field">
                                <label for="poste">Poste:</label>
                                <input type="text" placeholder="Nom du poste:" name="poste" value="{{ poste.nom_poste }}" required>
                              </div>

                              <div class="input-field">
                                <label for="salary">Salaire:</label>
                                <input type="number" name="salary" value="{{ poste.somme }}" required>
                              </div>

                              <div class="input-field">
                                <label for="time_work">Temps de travail(par mois):</label>
                                <input type="number" name="time_work" value="{{ poste.time_work }}" required>
                              </div>
                  
                              <div class="input-field">
                                <label for="debut">Arrivé:</label>
                                <input type="time" placeholder="Heure d'arrivée" name="debut" value="{{ poste.heure_debut }}" required>
                              </div>

                              <div class="input-field">
                                <label for="tolerance_time">Heure de tolérance <span class="require">*</span> :</label>
                                <input type="time" placeholder="Heure de tolérance" value="{{poste.tolerance_time}}" name="tolerance_time" required>
                              </div>
                  
                              <div class="input-field">
                                <label for="fin">Sortie:</label>
                                <input type="time" placeholder="Heure de sortie" name="fin" value="{{ poste.heure_fin }}" required>
                              </div>
                  
                            </div>
                          </div>
                  
                          <div class="details ID">
                            <div class="fields">
                            </div>
                  
                            <button type="submit" class="nextBtn">
                              <span class="btnText">Valider</span>
                            </button>
                          </div> 
                        </div>
                        <!-- </div>  end div second form -->
                      </form>
                    </div>
                  </main>
                  </div>
	              	<!-- MAIN -->
          </section>
      <script src="{% static 'profil/js/sidebar.js' %}"></script>
  </body>
  </html>