{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste</title>
    <link rel="stylesheet" href="{% static 'profil/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'profil/boxicons-2.1.4/css/boxicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'profil/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'profil/css/profil_u.css' %}">
</head>
<body>

    {% include 'profil/couche/sidebar.html' %}

    <section class="home-section emp">
        <div class="home-content">
            <i class="bx bx-menu"></i>
            <span class="text">Profile</span>
        </div>
        <div class="card-container">
            <div class="upper-container">
                <div class="image-container">
                    {% if user.personnel.get_self.photo %}
                    <img src="{{ user.personnel.get_self.photo.url }}" />
                    {% else %}
                    <!-- <img src="{% static 'profil/ressources/user-3331256_1280.png' %}" alt="profile"> -->
                    {% endif %}
                    
                </div>
            </div>
    
            <div class="lower-container">
                <div style="text-align: left; font-size: 24px; ">
                    <table>
                            <tr>
                                <th>Nom</th>
                                {% if user.profile.get_self.nom %}
                                <td>{{user.profile.get_self.nom}}</td>
                                {% elif user.personnel.get_self.name %}
                                <td>{{user.personnel.get_self.name}}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Prenom</th>
                                {% if user.profile.get_self.prenom %}
                                <td>{{user.profile.get_self.prenom}}</td>
                                {% elif user.personnel.get_self.prenom %}
                                <td>{{user.personnel.get_self.prenom}}</td>
                                {% endif %}
                            </tr>
                                <th>Email</th>
                                {% if user.profile.get_self.email %}
                                <td>{{user.profile.get_self.email}}</td>
                                {% elif user.personnel.get_self.email %}
                                <td>{{user.personnel.get_self.email}}</td>
                                {% endif %}

                            <tr>    
                                <th>Sexe</th>
                                {% if user.profile.get_self.genre %}
                                <td>{{user.profile.get_self.genre}}</td>
                                {% elif user.personnel.get_self.gender %}
                                <td> {{user.personnel.get_self.gender}} </td>
                                {% endif %}
                            </tr>    
                            </tr>
                            <tr>
                                <th>Nom d'utilisateur</th>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <th>Poste</th>
                                {% if user.profile.get_self.poste.nom_poste %}
                                <td>{{user.profile.get_self.poste.nom_poste}}</td>
                                {% elif user.personnel.get_self.poste.nom_poste %}
                                <td>{{user.personnel.get_self.poste.nom_poste}}</td>
                                {% endif %}
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
<script src="{% static 'profil/js/sidebar.js' %}"></script>
</body>
</html>