{% load static %}

<footer class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="footer-col">
                <a href="https://innovations-groups.com"><img src="{% static 'profil/ressources/logo-innovation-removebg-140x111.png' %}" alt=""></a>
            </div>
            <div class="footer-col">
                <h4>Entreprise</h4>
                <ul>
                    <li><a href="https://innovations-groups.com/a-propos-de-nous/" target="_blank">A propos</a></li>
                    <li><a href="https://innovations-groups.com/services/" target="_blank">Nos services</a></li>
                    <li><a href="https://inno-entreprise.com/shop" target="_blank">Shop</a></li>
                    <li><a href="https://innovations-groups.com/contact/" target="_blank">Contacts</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://wa.me/+15813491779" target="_blank"><i class='bx bxl-whatsapp' ></i></a>
                    <a href="https://www.facebook.com/innovationsarlpro/" target="_blank"><i class="bx bxl-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/innovations-groups/" target="_blank"><i class='bx bxl-linkedin'></i></a>
                </div>
            </div>
            <p style="text-align: center;">Copyright © 2024 Innovations Groups | Fait par Innovations Groups</p>
        </div>
    </div>
</footer>