{% load static %}

<div class="sidebar">
    <div class="logo-details">
        <i class="bx bx-atom"></i>
        <span class="logo_name">Inno Time</span>
    </div>
    <ul class="nav-links">
                <li>
                    <a href="{%url 'profil:dashboad'%}">
                        <i class="bx bx-grid-alt"></i>
                        <span class="link_name">Dashboard</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="{%url 'profil:dashboad'%}">Dashboard</a></li>
                    </ul>
                </li>
                <li>
                    <div class="icon-link">
                        <a href="{%url 'profil:liste_employe'%}">
                            <i class="bx bxs-user-detail"></i>
                            <span class="link_name">Employés</span>
                        </a>
                            <i class="bx bxs-chevron-down arrow arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="{%url 'profil:liste_employe'%}">Employés</a></li>
                        <li><a href="{%url 'profil:liste_employe'%}">Liste</a></li>
                        <li><a href="{%url 'profil:save_employe'%}">Ajouter</a></li>
                    </ul>
                </li>
                <li>
                    <div class="icon-link">
                        <a href="{%url 'profil:liste_poste'%}">
                            <i class='bx bxs-briefcase'></i>
                            <span class="link_name">Postes</span>
                        </a>
                            <i class="bx bxs-chevron-down arrow arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="{%url 'profil:liste_poste'%}">Postes</a></li>
                        <li><a href="{%url 'profil:liste_poste'%}">Liste</a></li>
                        <li><a href="{%url 'profil:save_poste'%}">Ajouter</a></li>
                    </ul>
                </li>
                <li>
                    <div class="icon-link">
                        <a href="{%url 'profil:attendance'%}">
                            <i class="bx bxs-time"></i>
                            <span class="link_name">Présences</span></a>
                            <i class="bx bxs-chevron-down arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="{%url 'profil:attendance'%}">Présences</a></li>
                        <li><a href="{%url 'profil:attendance'%}">Présences</a></li>
                        <li><a href="{%url 'profil:historique'%}">Historique</a></li>
                    </ul>
                </li>
                <li>
                    <div class="icon-link">
                        <a href="{%url 'profil:liste_user'%}">
                            <i class="bx bxs-user"></i>
                            <span class="link_name">Utilisateurs</span>
                        </a>
                            <i class="bx bxs-chevron-down arrow arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="{%url 'profil:liste_user'%}">Utilisateurs</a></li>
                        <li><a href="{%url 'profil:liste_user'%}">Liste</a></li>
                        <li><a href="{%url 'accounts:register'%}">Ajouter</a></li>
                    </ul>
                </li>
                <li>
                    <div class="icon-link">
                        <a href="{%url 'profil:liste_drive'%}">
                            <i class="bx bx-laptop"></i>
                            <span class="link_name">Terminal</span>
                        </a>
                            <i class="bx bxs-chevron-down arrow arrow"></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name" href="{%url 'profil:liste_drive' %}">Terminal</a></li>
                        <li><a href="{%url 'profil:liste_drive'%}">Liste</a></li>
                        <li><a href="{%url 'profil:add_drive'%}">Ajouter</a></li>
                        <li><a href="{%url 'profil:logs'%}">Logs</a></li>
                   
                    </ul>
                </li>
                {% comment %}
                <li>
                    <a href="{%url 'profil:attendance'%}">
                        <i class='bx bx-rss'></i>
                        <span class="link_name">Logs</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="{%url 'profil:attendance'%}">Logs</a></li>
                    </ul>
                </li>
                {% endcomment %}
                <li>
                    <a href="{%url 'profil:help'%}">
                        <i class='bx bxs-help-circle' ></i>
                        <span class="link_name">Aide</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="{%url 'profil:help'%}">Aide</a></li>
                    </ul>
                </li>
                <li>
            <div class="profile-details">
                <div class="profile-content">
                    {% if user.personnel.get_self.photo %}
                    <a href="{% url 'profil:profil_user' %}"><img src="{{ user.personnel.get_self.photo.url }}" alt="profile"></a>
                    {% else %}
                    <a href="{% url 'profil:profil_user' %}"><img src="{% static 'profil/ressources/user-3331256_1280.png' %}" alt="profile"></a>
                    {% endif %}
                </div>
                
                <div class="name-job">
                    <div class="profile_name">{{ user.username }}</div>
                    <div class="job">{{ user.personnel.get_self.poste }}</div>
                </div>
                <a href="{% url 'accounts:logout' %}">
                <i class="bx bx-log-out"></i>
                </a>
            </div>
        </li>
    </ul>
</div>
