{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>salaire</title>
    <link rel="stylesheet" href="{%static 'userprofile/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>

    <nav class="navbar">
        <a href="#" class="logo">Inno Time</a>
        <div class="nav-links">
            <ul>
                <li><a href="{%url 'userprofile:acceuil'%}">Accueil</a></li>
                <li><a href="{%url 'userprofile:liste_e'%}">Employés</a></li>
                <li><a href="{%url 'userprofile:attendance'%}">Présences</a></li>
                <!-- <li><a href="{%url 'userprofile:historique'%}">Historique</a></li> -->
                <li><a href="{%url 'userprofile:help'%}">Aide</a></li>
            </ul>
        </div>
        <span class="material-symbols-outlined">
            lists
        </span>
    </nav>
    <header></header>
    <script src="{%static 'userprofile/js/navbar.js'%}"></script>
</body>
</html>