{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste</title>
    <link rel="stylesheet" href="{% static 'userprofile/css/employe.css' %}">
    <link rel="stylesheet" href="{% static 'userprofile/css/userprofilee.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>


<nav class="navbar">
    <a href="#" class="logo">Inno Time</a>
    <div class="nav-links">
        <ul>
            <li><a href="{%url 'userprofile:acceuil'%}">Accueil</a></li>
            <li><a href="{%url 'userprofile:liste_e'%}">Employés</a></li>
            <li><a href="{%url 'userprofile:attendance'%}">Présences</a></li>
            <!-- <li><a href="{%url 'userprofile:historique'%}">Historique</a></li> -->
            <li><a href="{%url 'userprofile:help'%}">Aide</a></li>
        </ul>
    </div>
    <span class="material-symbols-outlined">
        lists
    </span>
</nav>
<nav class="sidebar">
    <ul>
        <li><a href="{%url 'userprofile:liste_e'%}">
            <i class="fas fa-user"></i>
            <span class="nav-item">Liste</span>
        </a></li>
        <li><a href="{%url 'userprofile:add_userprofile'%}">
            <i class="fas fa-user-plus"></i>
            <span class="nav-item">Ajouter</span>
        </a></li>
        <li class="historique">
            <a href="{% url 'accounts:logout' %}">
            <i class="fas fa-sign-out-alt"></i>
            <span class="nav-item">Déconnexion</span>
        </a></li>
    </ul>
</nav>
<div class="body">
    <div class="content c1">
        <div class="userprofilee-box b1">
            <img src="{% static 'userprofile/ressources/male1.png' %}" >
                    {% for Personnel in Personnel %}
                    <h1>ID_Personnel : {{ Personnel.id  }} </h1>
                    <p class="header">Poste: </p>
                        <!-- <p class="header">NOM : {{Personnel.name}} </p>
                        <p class="header">PRENOM : {{Personnel.prenom}} </p> -->
                        <!-- <p class="header">EMAIL : {{Personnel.email}} </p>
                        <p class="header">SEXE : {{Personnel.sexe}} </p>
                        <p class="header">HEURE_D'ENTREE : {{Personnel.date_e}} </p>
                        <p class="header">HEURE_DE_SORTI: {{Personnel.date_s}} </p> -->

                    {% endfor %}
        </div>
    </div>
    <div class="content c2">
        <div class="userprofilee-box b2">
                    {% for Personnel in Personnel %}
                    <!-- <h1>ID_Personnel : {{ Personnel.id  }} </h1> -->
                        <p class="header">NOM : {{Personnel.name}} </p>
                        <p class="header">PRENOM : {{Personnel.prenom}} </p>
                        <p class="header">EMAIL : {{Personnel.email}} </p>
                        <p class="header">SEXE : {{Personnel.sexe}} </p>
                        <p class="header">HEURE_D'ENTREE : {{Personnel.date_e}} </p>
                        <p class="header">HEURE_DE_SORTI: {{Personnel.date_s}} </p>

                    {% endfor %}
        </div>
    </div>
    <div class="content c3">
        <div class="userprofilee-box b3">
            <img src="{% static 'userprofile/ressources/male1.png' %}" >
                    {% for Personnel in Personnel %}
                    <h1>ID_Personnel : {{ Personnel.id  }} </h1>
                        <p class="header">NOM : {{Personnel.name}} </p>
                        <p class="header">PRENOM : {{Personnel.prenom}} </p>
                        <p class="header">EMAIL : {{Personnel.email}} </p>
                        <p class="header">SEXE : {{Personnel.sexe}} </p>
                        <p class="header">POSTE :  </p>
                        <p class="header">HEURE_D'ENTREE : {{Personnel.date_e}} </p>
                        <p class="header">HEURE_DE_SORTI: {{Personnel.date_s}} </p>

                    {% endfor %}
        </div>
    </div>
    <div class="content c4">
        <div class="userprofilee-box b4">
                    {% for Personnel in Personnel %}
                    <h1>Statut</h1>
                    <p class="header">Présent</p>
                    {% endfor %}
        </div>
    </div>
</div>
<script src="{%static 'userprofile/js/navbar.js'%}"></script>
</body>
</html>