{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'profil/css/index.css'%}">
    <title>login</title>
</head>
<body>
    <div class="container">
        <div class="header">
             <div class="icon">
                <h2 class="logo"> Supervisor</h2>
            </div>
      </div>
  </div>
  <div id="container">
    <h1>Connexion</h1></b>

    {% for messsage in messsages %}
    <p> {{messsage}} </p>
    {% endfor %}

<form method="post">
    {%  csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Se Connecter">
</form>
</div>
</body>
</html>

